<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name = "viewport" content="Width=device-whidth">

    <title>Log In</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="Login-backround">
    <div id="container">

    <section id="Main-Showcase-login">
      <div id="main">

        <div class="box">

          <img src="/images/man.png" class="user">

          <h1>Log in</h1>
          <form action="/successfulLogin" method="post">
            <div class="inputbox">
              <input type="text" name="email" required="">
              <label>Email</label>
            </div>

            <div class="inputbox">
              <input type="password" name="password" required="">
              <label>password</label>
            </div>
            <input type="submit" name="" value="Submit">
          </form>
      </div>
    </section>
  </div>

    </div>
  </body>
</html>
